@model IEnumerable<WebTravel.Models.TbMenu>


<div class="container-fluid nav-bar p-0">
    <div class="container-lg p-0 px-lg-3">
      
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5 sticky-top">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL</span>ER</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    @foreach (var item in Model.Where(i => i.Levels == 1))
                    {
                        var isInternal = item.Alias == "Services" || item.Alias == "About"
                        || item.Alias == "Tour-Packages"
                        || item.Alias == "Blog";
                        var url = isInternal ? $"/#{item.Alias}" : $"/{item.Alias}";
                        <a href="@url" class="nav-item nav-link">@item.Title</a>
                    }
                </div>
            </div>
        </nav>
    </div>
</div>
