@model IEnumerable<WebTravel.Models.TbAccount>

   


    @foreach(var item in Model)
    {

     <div class="col-4 pb-2">
    <div class="team-item bg-white mb-4">
        <div class="team-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="~/img/@item.Image" alt="">
            <div class="team-social">
                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <h5 class="text-truncate">@item.Username</h5>
            <p class="m-0">@item.Description</p>
        </div>
    </div>
        </div>

    }




