 <!-- Carousel Start -->
<div class="container-fluid p-0">
    @await Component.InvokeAsync("Slide")
</div>
<!-- Carousel End -->
<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 60px;">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Điểm đến</option>
                                    <option value="1">Tokyo</option>
                                    <option value="2">Shanghai</option>
                                    <option value="3">Đà Lạt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Ngày khởi hàng" data-target="#date1" data-toggle="datetimepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Ngày về" data-target="#date2" data-toggle="datetimepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Dịch vụ</option>
                                    <option value="1">Tuần trăng mật</option>
                                    <option value="2">Nghỉ dưỡng</option>
                                    <option value="3">Combo gia đình</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Đặt tour</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- About Start -->

<div id="About" class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Giới thiệu về chúng tôi</h6>
                    <h1 class="mb-3">Chúng tôi cung cấp các gói tour du lịch tốt nhất trong ngân sách của bạn</h1>
                    <p>WebTravel là nền tảng đặt tour du lịch trực tuyến uy tín, chuyên cung cấp những hành trình trải nghiệm hấp dẫn trong và ngoài nước. Với đội ngũ tư vấn chuyên nghiệp và am hiểu điểm đến, chúng tôi cam kết mang đến cho bạn những chuyến đi an toàn, tiết kiệm và đáng nhớ.</p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="~/img/about-1.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="~/img/about-2.jpg" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">Đặt tour ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
</>
<!-- About End -->
<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Giá cả cạnh tranh</h5>
                        <p class="m-0">Giá cả cạnh tranh, dịch vụ chuyên nghiệp</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Dịch vụ tốt nhất</h5>
                        <p class="m-0">Dịch vụ tận tâm – Trải nghiệm hoàn hảo.</p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Phủ sóng toàn cầu</h5>
                        <p class="m-0">Mạng lưới toàn cầu, hành trình không giới hạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Điểm đến</h6>
            <h1>Khám phá Điểm đến hàng đầu</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-1.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">United States</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-2.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">United Kingdom</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-3.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Australia</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-4.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">India</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-5.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">South Africa</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/img/destination-6.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Indonesia</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->
<!-- Service Start -->

<div id="Services" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch vụ</h6>
          
            <h1>Tour du lịch & Dịch vụ du lịch</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Hướng dẫn du lịch</h5>
                    <p class="m-0">Hướng dẫn du lịch chi tiết, dễ hiểu – cung cấp đầy đủ thông tin về điểm đến, lịch trình, văn hóa, ẩm thực và lưu ý khi đi tour.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Đặt vé</h5>
                    <p class="m-0">Đặt vé nhanh chóng, an toàn và tiện lợi – Chỉ với vài bước đơn giản, bạn có thể đặt và giữ chỗ tour yêu thích mọi lúc, mọi nơi, thật tiện lợi và dễ dàng.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Đặt phòng khách sạn</h5>
                    <p class="m-0">Đặt phòng khách sạn dễ dàng, giá tốt – Lựa chọn đa dạng, thủ tục nhanh gọn, đảm bảo chỗ ở tiện nghi cho mọi hành trình.</p>
                </div>
            </div>
        </div>
    </div>
</div>
  </>
<!-- Service End -->
<!-- Packages Start -->
<div id="Tour-Packages" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Gói dịch vụ</h6>
            <h1>Gói dịch vụ du lịch hoàn hảo</h1>
        </div>
        @await Component.InvokeAsync("Tour")
    </div>
</div>
<!-- Packages End -->
<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Ưu đãi lớn</h6>
                    <h1 class="text-white"><span class="text-primary">Giảm 30$</span> Cho tuần trăng mật</h1>
                </div>
                <p class="text-white">
                    Chúng tôi cung cấp các dịch vụ trọn gói gồm: đặt tour du lịch trong và ngoài nước, hướng dẫn viên chuyên nghiệp, vé máy bay – khách sạn – đưa đón sân bay, cùng các hỗ trợ 24/7 để đảm bảo chuyến đi suôn sẻ và đáng nhớ.
                </p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Giảm 30% chi phí tour cho cặp đôi</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Tặng gói trải nghiệm lãng mạn</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Miễn phí xe đưa đón sân bay 2 chiều</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h1 class="text-white m-0">Đăng ký ngay</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Họ Tên" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control p-4" placeholder="Email" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>Chọn điểm đến</option>
                                    <option value="1">Đà Lạt</option>
                                    <option value="2">Phú Quốc</option>
                                    <option value="3">Hội An</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block py-3" type="submit">Đăng ký ngay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hướng dẫn</h6>
            <h1>Hướng dẫn du lịch của chúng tôi</h1>
        </div>
        <div class="row">
          @await Component.InvokeAsync("OurTravelGuides")
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Đánh giá</h6>
            <h1>
                Khách hàng của chúng tôi
            </h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="~/img/testimonial-1.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">
                        Trang web rất dễ sử dụng, đặt tour nhanh chóng và rõ ràng. Mình rất hài lòng với web!
                    </p>
                    <h5 class="text-truncate">Nguyễn Minh Anh</h5>
                    <span>Nhân viên văn phòng</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="~/img/testimonial-2.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">
                        Thiết kế đẹp mắt, hình ảnh tour sống động. Chỉ cần vài cú click là đã lên kế hoạch cho kỳ nghỉ.
                    </p>
                    <h5 class="text-truncate">Lê Thị Hồng Nhung</h5>
                    <span>Kỹ sư công nghệ thông tin</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="~/img/testimonial-3.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">
                        Dịch vụ chăm sóc khách hàng phản hồi nhanh. Mình gặp lỗi nhỏ khi thanh toán và được hỗ trợ liền.
                    </p>
                    <h5 class="text-truncate">Trần Quốc Bảo</h5>
                    <span>Giáo viên tiểu học</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="~/img/testimonial-4.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">
                        Giá cả hợp lý, có nhiều ưu đãi hấp dẫn. Mình đã đặt tour trăng mật và rất ưng ý, tuyệt vời!
                    </p>
                    <h5 class="text-truncate">Phạm Tuấn Kiệt</h5>
                    <span>Nhiếp ảnh gia tự do</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Blog Start -->
<div id ="Blog" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Blog của chúng tôi</h6>
            <h1>Tin mới nhất từ ​​Blog của chúng tôi</h1>
        </div>
        <div class="row pb-3">
            @await Component.InvokeAsync("Blog")
                  
            </div>
        </div>
    </div>

<!-- Blog End -->